CompileFlags:
  Add: [-Wall, -Wextra, -pedantic, -O0, -c, -I./include/, -std=c23]
  Compiler:  clang.exe
  CompilationDatabase: None

Completion:
  AllScopes: Yes

Index:
  Background: Skip

InlayHints:
  BlockEnd: Yes
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
